<ion-header>
    <ion-toolbar color="dark"> 
     <div class="main-toolbar" padding>
       <div class="ion-float-left"><img src="../assets/img/qr-logo-pixel-white.png"/></div>
     </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content  class="content-area">
      <ion-item>
        <ion-label position="floating">What is your weight today ?</ion-label>
        <ion-input class="weightnum" type="number" placeholder="in kg"></ion-input>
        <ion-button color ="primary">Ok</ion-button>
        <ion-button color ="primary">View progress</ion-button>  
      </ion-item>
        
          <ion-button size="large" class="start-training-button" (click)=startTrainingAlert() expand="full">Start Training</ion-button>
          <ion-button  class="previous-training-button" routerLink="/view-trainings"  expand="full">View previous training</ion-button>
          
  
  </ion-content>
  