<ion-header>
    <ion-toolbar color="dark"> 
     <div class="main-toolbar" padding>
       <div class="ion-float-left"><img src="../assets/img/qr-logo-pixel-white.png"/></div>
     </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <!-- <ion-tabs>
    
          <ion-tab-bar>
        
            <ion-tab-button tab="training">
              <ion-label capitalize="true">Training</ion-label>
              <ion-icon name="bicycle"></ion-icon>
              
            </ion-tab-button>
        
            <ion-tab-button tab="overview">
              <ion-label>Overview</ion-label>
              <ion-icon name="book"></ion-icon>
            </ion-tab-button>
  
            <ion-tab-button tab="advisor">
                <ion-label>Advisor</ion-label>
                <ion-icon name="body"></ion-icon>
              </ion-tab-button>
        
          </ion-tab-bar>
        </ion-tabs> -->
  
          <ion-button  class="start-training-button"  expand="full">Start Training</ion-button>
          <ion-button class="previous-training-button"  expand="full">View previous training</ion-button>
          <ion-button class="schedule-next-button"  expand="full">Schedule next training</ion-button>
          <ion-button class="schedule-next-button" routerLink="/machines" routerDirection="back"  expand="full">Browse machines</ion-button>
  
  </ion-content>
  