<ion-header>
  
</ion-header>

<ion-content>
    
  <ion-tabs>
  
        <ion-tab-bar>
      
          <ion-tab-button tab="training">
            <ion-label capitalize="true">Training</ion-label>
            <ion-icon name="bicycle"></ion-icon>
            
          </ion-tab-button>
      
          <ion-tab-button tab="overview">
            <ion-label>Overview</ion-label>
            <ion-icon name="book"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="advisor">
              <ion-label>Advisor</ion-label>
              <ion-icon name="body"></ion-icon>
            </ion-tab-button>
      
        </ion-tab-bar>
      </ion-tabs>

        

</ion-content>
